/* Global */

$color-one: #EBE044;
$color-two: #8E8E8E;
$font-one: 'Yellowtail', cursive;

.section {
  padding: 96px 0px;

  .section-subtitle {
    font-style: italic;
    margin-bottom: 30px;
    color: $color-two;
  }
}

h3 {
  font-weight: bold;
  font-size: 50px;
}

h5 {
  font-weight: bold;
}

/* Header */


.top {
    position: relative;
    height: 80vh;
    background-position: center center;
    background-image: url('https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-color: #000;

    .nav-link{
      color: #fff;
    }
}

.navbar-brand{
  color: $color-one;
  font-family: $font-one;
  font-size: 36px;
}

.splash {
    position: absolute;
    padding-top: 40px;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .subtitle, .title {
      color: #fff;
      }
    }


    .btn {
      background-color: $color-one;
      border-color: $color-one;
      width: 250px;
      height: 100px;
      text-align: center;
      line-height: 80px;
    }

    h1{
      font-size: 70px;
    }

    h2{
      font-style: italic;
    }

/* Services */

.services {
  text-align: center;
  .row {
    padding-top: 36px;
    p{
      font-style: italic;
      color: $color-two;
    }
  }

  i {
    font-size: 36px;
    color: $color-one;
    border: 3px solid;
    line-height: 65px;
    width: 70px;
    border-radius: 50px;
    border-color: $color-one;
  }
}

/* Portfolio */

.portfolio {
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #E9E9E9;
}

.portfolio .card {
    border: none;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-subtitle {
    font-style: italic;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 24px;
  li{
    display: inline;
    text-align: center;
    padding-right: 10px;
  }

  i{
    font-size: 24px;
    color: #fff;
    background-color: #000;
    border: solid 1px;
    border-color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 12px;
  }
}
